<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="QaauntAuto" thread-count="1" >
    <listeners>
        <listener class-name="Listners.TestNgListners"></listener>
        <listener class-name="Listners.ExtentReportListener"></listener>
    </listeners>
    <test name="Login">
        <classes>
            <class name="TestClass.Login"></class>
        </classes>
    </test>
</suite>